@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: rgba(17, 237, 237);
  background: linear-gradient(
    155deg,
    rgba(17, 237, 237, 0.3) 0%,
    rgba(237, 89, 222, 0.1) 39%,
    rgba(17, 237, 237, 0.3) 66%,
    rgba(237, 89, 222, 0.3) 85%
  );
  position: relative;
}

.container:after {
  position: absolute;
  top: 18%;
  right: 12%;
  content: "";
  height: 550px;
  width: 550px;
  background-color: #ffcb05;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.5;
}

.header {
  width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  background: transparent;
  position: relative;
  padding-top: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  gap: 5px;
}

.logo span {
  font-weight: 600;
  font-size: 20px;
}

.logo img {
  width: 30px;
}

ul li {
  display: inline-block;
  margin: 0 8px;
}

ul li a {
  color: #221203;
  position: relative;
  font-weight: 500;
}

ul li a:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #42210b;
  transition: 0.6s;
}

ul li a:hover:after {
  width: 100%;
}

button {
  padding: 8px 18px;
  outline: none;
  background-color: #ffcb05;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 1s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(0% at 50% 100%);
  background-color: #42210b;
  transition: 0.6s;
  z-index: -1;
}

button:hover:after {
  clip-path: circle(130% at 50% 100%);
}

button:hover {
  color: #fff;
}

button i {
  transform: rotate(-45deg);
  margin-left: 5px;
}

.header .fa-bars {
  font-size: 1.3rem;
  background-color: #42210b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  transition: 0.6s;
  border: 2px solid #42210b;
}

.header .fa-bars:hover {
  background-color: #fff;
  color: #42210b;
}

.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 0 8%;
}

.hero .content {
  min-height: 650px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  z-index: 1;
}

.hero .content h1 {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
  margin-top: 2rem !important;
  margin: 10px 0;
}

.hero .content p {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px 0;
  margin-bottom: 2rem !important;
}

.hero-img {
  height: 100%;
  width: 50%;
  z-index: 1;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-img img {
  height: 65%;
  width: 65%;
}

.hero .content button {
  background: #42210b;
  color: #fff;
}

.hero .content button::after {
  background: #000;
}

.service {
  min-height: 680px;
  width: 100%;
  display: flex;
  padding: 5% 8%;
  flex-direction: column;
  background: rgb(234, 250, 26);
  background: linear-gradient(
    155deg,
    rgba(234, 250, 26, 0.05) 0%,
    rgba(237, 89, 222, 0.05) 39%,
    rgba(41, 200, 241, 0.05) 66%,
    rgba(237, 89, 222, 0.05) 100%
  );
}

.service h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.service .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.service .cards .card {
  height: 420px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8% 30px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
}

.cards .card h2 {
  font-weight: 500;
  margin: 20px 0;
  margin-bottom: 30px;
}

.card img {
  width: 90px;
}

.resume-section {
  padding: 100px 8%;
  background: rgb(26, 250, 44);
  background: linear-gradient(
    93deg,
    rgba(26, 250, 44, 0.1) 10%,
    rgba(237, 89, 299, 0.1) 94%
  );
}

.resume {
  padding: 80px 8%;
  border: 1px solid #000;
  background: rgb(255, 255, 255);
}

.resume h1 {
  font-size: 3rem;
  font-weight: 600;
  background-image: -webkit-linear-gradient(180deg, #f8ed9c, #ffc745);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-wrapper .card {
  width: 40%;
}

.card-wrapper h3 {
  color: #aaaab7;
  margin-top: 60px;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaaab7;
}

.card-wrapper h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-wrapper p {
  color: #4c4c4c;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.skills {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.skills div {
  width: 40%;
}

.skills h2 {
  margin-top: 60px;
  color: #aaaab7;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaaab7;
}

.skills p {
  color: #4c4c4c;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 60px;
}

.skills-img img {
  margin-right: 5%;
  margin-top: 50px;
  width: 13%;
  border: 1px solid #aaaab7;
  border-radius: 10px;
}

.project-wrapper {
  background: rgba(26, 250, 44);
  background: linear-gradient(
    93deg,
    rgba(26, 250, 44, 0.1) 10%,
    rgba(237, 89, 299, 0.1) 94%
  );
}

.project {
  padding: 80px 8%;
}

.project h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 60px;
}

.project .card {
  padding: 60px 40px 0 40px;
  background-color: rgb(243, 288, 172);
  display: flex;
  justify-content: space-between;
}

.project .card .detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  align-items: flex-start;
}

.project .card .detail h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.project .card .detail p {
  font-size: 18px;
  color: #4c4c4c;
  margin: 40px 0;
}

.project .img {
  width: 60%;
}

.project .img img {
  width: 100%;
}

/* *********************************************** */

@media (max-width: 1100px) {
  .header .fa-bars {
    display: block;
  }
  ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: 0.6s;
    border-bottom: 2px solid #42210b;
    opacity: 0;
  }
  ul li {
    display: block;
    margin: 18px 0;
    padding: 8px 0;
    padding-left: 10% !important;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  }
  ul li:last-child {
    border: none;
  }

  .show {
    opacity: 1;
  }

  .container:after {
    right: 5%;
  }
  .hero-img {
    width: 100%;
  }

  .hero {
    flex-direction: column;
  }

  .hero .content h1 {
    font-size: 2.75rem;
  }

  .hero-img,
  .hero .content {
    width: 100%;
    align-items: center;
  }

  .hero .content {
    min-height: 460px;
    margin-top: 0;
    justify-content: flex-start;
    text-align: center;
  }

  .container::after {
    top: 50%;
  }

  .service .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .service .cards .card {
    width: 100%;
    height: 340px;
    padding: 10% 8%;
  }

  .service h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 35px;
  }
}

@media (max-width: 900px) {
  .resume h1 {
    text-align: center;
  }
  .project-wrapper h1 {
    font-size: 3rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .card-wrapper .card {
    width: 100%;
  }

  .skills {
    flex-direction: column;
    text-align: center;
  }

  .skills div {
    width: 100%;
  }

  .project .card {
    flex-direction: column;
    text-align: center;
  }

  .project .card .detail {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .project .img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero .content h1 {
    font-size: 2.5rem;
  }

  .hero-img img {
    width: 100%;
  }
  .service h1 {
    font-size: 2rem;
    z-index: 1;
  }
}
